# Logs
logs
*.log
npm-debug.log*
bun-error.log
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src-tauri/macos

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.claude
debug/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Choicelab project files (used for testing)
*.clx

# Possibly temporary
CLAUDE.md
