#panel-preview {
  position: relative;
  height: calc(var(--preview-height) + 1px);
  // Note: min-height and max-height are set in JS
  z-index: 3;
  iframe {
    position: relative;
    z-index: 1;
    width: 100%;
    height: calc(100%);
  }
  .resizer {
    z-index: 2;
  }
}
