@use "../../variables";
@use "../../mixins";

.branch.node {
  width: 190px;
  height: 71px;
  &.selected,
  &.selecting {
    > .contents {
      border-color: transparent;
    }
    .branch-background {
      path {
        stroke: #308ee5;
        stroke-width: 10;
      }
    }
  }
  > .contents {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .branch-background {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    path {
      fill: #ffffff;
    }
  }
  .stems {
    padding: 0;
    position: absolute;
    .stem {
      position: absolute;
      background-color: rgba(255, 255, 255, 1);
      list-style: none;
      display: flex;
      align-items: flex-start;
      padding: 0 5px;
      margin-top: 29px;
      border-radius: 100px;
      border-color: white;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      box-shadow: variables.$node-shadow;
      align-items: center;
      &.selected,
      &.selecting {
        border-color: variables.$accent-color;
      }
      .stem-index,
      .no-match-index {
        position: absolute;
        top: -5px;
        left: -10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0 1px 7px;
      }
      .stem-index {
        @include mixins.stem-index(23);
      }
      .no-match-index {
        @include mixins.index(23);
        background-color: #fff8e0;
        color: #d87c09;
      }
      .stem-label {
        display: inline-block;
        position: relative;
        z-index: 5;
        width: 100%;
        color: #444;
        font-size: 10.5px;
        font-weight: 500;
        margin-left: 7px;
      }
      &.rules .stem-label {
        max-width: 100%;
        max-height: calc(100% - 10px);
        overflow: clip;
        padding-left: 5px;
        padding-right: 5px;
        &:hover {
          white-space: normal;
          overflow: auto;
          max-width: none;
          max-height: none;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: white;
          border-radius: 5px;
        }
      }
    }
    .link {
      z-index: 6;
    }
  }
}

@include mixins.target-mode {
  .branch:not(.target-mode-origin):hover {
    .branch-background {
      path {
        stroke: rgb(167, 73, 255);
        stroke-width: 10;
      }
    }
  }
}
