@use "../../variables";

.cell {
  .action {
    span.no-src {
      font-style: italic;
      opacity: 0.8;
    }
  }
  .action.button,
  .action.inputField {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .button-label {
      flex-basis: 50%;
      padding-right: 8px;
      font-weight: 500;
    }
    .button-var {
      min-width: 90px;
      font-family: variables.$fonts-mono;
      color: rgb(238, 66, 141);
      font-size: 11px;
    }
  }
  .action.button {
    background-color: #fff1e0;
    border-radius: 5px;
    padding: 5px;
    @media (prefers-color-scheme: dark) {
      background-color: #695c52;
    }
  }
  .action.inputField {
    border: 1px solid #ccc;
    padding: 5px;
    @media (prefers-color-scheme: dark) {
      border-color: #494949;
    }
    .button-label {
      opacity: 0.7;
      font-style: italic;
    }
  }
  .action.image,
  .action.audio,
  .action.video {
    div {
      border-radius: 5px;
      padding: 5px;
      color: #308ee5;
      background-color: #ebf5ff;
      @media (prefers-color-scheme: dark) {
        color: #75bcff;
        background-color: #454f5c;
      }
      i {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}
