.start.node {
  width: 100px;
  height: 45px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-weight: 600;
    margin-top: -3px;
    font-size: 15px;
  }
}
