@mixin invert-icon() {
  filter: brightness(0) invert(1);
}

@mixin target-mode() {
  #App[data-target-mode]:not([data-target-mode=""]) {
    @content;
  }
}

@mixin vibrant-bg-light {
  background-color: rgba(228, 228, 228, 0.9);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(99px);
}
