@use "sass:math";

@mixin invert-icon() {
  filter: brightness(0) invert(1);
}

@mixin target-mode() {
  #sequence-wrap.target-mode {
    @content;
  }
}

@mixin node-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  @media (prefers-color-scheme: dark) {
    box-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
  }
}

@mixin index($size: 30) {
  display: inline-block;
  text-align: center;
  line-height: 1;
  border-radius: 99px;
  font-weight: 700;
  font-size: #{math.div($size, 1.6) + "px"};
  line-height: 0;
  padding-top: #{math.div($size, 2) + "px"};
  width: #{$size + "px"};
  height: #{$size + "px"};
  i {
    display: inline-block;
    font-size: #{$size + "px"};
    margin-top: #{math.div($size, 2) * -1 + "px"};
  }
}

@mixin stem-index($size: 30) {
  @include index($size);
  & {
    background-color: #e0f0ff;
    color: #2f8ee5;
  }
  @media (prefers-color-scheme: dark) {
    background-color: #1f5990;
    color: #cce6ff;
  }
}

@keyframes node-appear {
  from {
    transform: scale(0);
    transform-origin: center;
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}
