@mixin invert-icon() {
  filter: brightness(0) invert(1);
}

@mixin target-mode() {
  #App[data-target-mode]:not([data-target-mode=""]) {
    @content;
  }
}

@mixin stem-index($size: 30) {
  border: 1.5px solid #2f8ee5;
  display: inline-block;
  text-align: center;
  line-height: 1;
  border-radius: 99px;
  font-weight: 700;
  font-size: #{$size / 1.6 + "px"};
  line-height: #{$size * 0.86 + "px"};
  color: #2f8ee5;
  width: #{$size + "px"};
  height: #{$size + "px"};
}
