button {
  cursor: default !important;
}

.ui-button {
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  padding: 0px 10px 1px;
  height: 21px;
  font-size: 13px;
  background-color: white;
  line-height: 1;
  vertical-align: middle;
  box-shadow: rgb(0 0 0 / 44%) 0 0.5px 1.5px;
  &:active {
    background-color: #eee;
  }
}
