/* Elements */
$toolbar-height: 68px;

/* Typography */
$fonts-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

/* Colors */
$text-light: #1d1d1d;
$text-dark: #e9e9ea;
$heading-text-light: #4a4a4c;
$heading-text-dark: #ebebec;
$accent-color-blurred: #bebebe;
$accent-color: #308ee5;
$accent-color-faded: #63a3dd;
$node-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
