@use "../../base/mixins";
@use "./nodes/cell";
@use "./nodes/branch";
@use "./nodes/start";

.nodes {
  position: relative;
  margin: 0;
}

#arrows {
  position: absolute;
  top: 0;
  left: 0;
}

.node,
.stem {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  scroll-margin: 75px;
  .contents {
    position: relative;
    width: 100%;
    font-size: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #333;
    background-color: white;
    animation: node-appear 0.2s ease;
    outline: none;
    @include mixins.node-shadow;
    @media (prefers-color-scheme: dark) {
      color: white;
      outline: 1px solid rgba(255, 255, 255, 0.2);
      background-color: var(--node-bg-dark);
    }
  }
  // Add stroke when system contrast is increased
  &:not(.branch, .selected, .selecting) {
    .contents {
      @media (prefers-contrast: more) {
        outline: 1px solid rgba(0, 0, 0, 0.6);
        @media (prefers-color-scheme: dark) {
          outline: 1px solid rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  &.selected,
  &.selecting {
    .contents {
      outline: none;
      border-color: var(--accent-color);
    }
  }
  &.drop-zone {
    &:after {
      content: "";
      position: absolute;
      bottom: -30px;
      width: 100%;
      height: 5px;
      border-radius: 99px;
      background-color: var(--accent-color);
    }
  }
}

.node {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  .node-id,
  .to-id {
    position: absolute;
    width: 200px;
    left: -3px;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    color: rgb(97, 97, 97);
    font-family: var(--fonts-mono);
    font-weight: 500;
    text-overflow: ellipsis;
    font-size: 10px;
    height: 19px;
    display: none;
    padding: 2px 5px;
  }
  .node-id {
    top: -32px;
  }
  .to-id {
    bottom: -45px;
  }
  .link {
    position: absolute;
    bottom: 12px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    button.linker {
      height: 15px;
      width: 15px;
      padding: 0;
      border-radius: 100px;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      background-color: var(--accent-color);
      border: 1px solid var(--accent-color);
      transition: width 0.2s ease, height 0.2s ease, bottom 0.2s ease;
      span {
        display: none;
      }
      &:hover {
        height: 18px;
        width: 18px;
        bottom: -22px;
      }
      &:active {
        background-color: var(--accent-color);
      }
    }
  }
}

#sequence.view-xs {
  button.linker {
    width: 10px;
    height: 10px;
    bottom: -16.5px;
    &:hover {
      width: 13px;
      height: 13px;
    }
  }
}

#sequence.view-sm {
  button.linker {
    width: 12px;
    height: 12px;
    &:hover {
      width: 14px;
      height: 14px;
    }
  }
}

#App[data-focus="false"] {
  .node.selected,
  .node.selecting {
    border-color: var(--accent-color-blurred);
  }
}

@include mixins.target-mode {
  .node:not(.target-mode-origin):not(.branch):hover .contents {
    border-color: rgb(167, 73, 255);
  }
}
