.action-prop {
  margin-bottom: 10px;
  .label {
    font-weight: 500;
    font-size: 11px;
    &.break-line {
      display: block;
    }
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 0.5em;
    max-width: 550px;
    display: block;
  }
  textarea {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  }
}
