.inspector-prop {
  width: 100%;
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &.col-2 {
    width: 50%;
  }
  &.col-2 + .col-2 {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
  &.large {
    input[type="text"],
    textarea {
      font-size: 16px;
      line-height: 23px;
      min-height: 100px;
    }
  }
  // Label
  label,
  .label {
    font-weight: 500;
    font-size: 11px;
    &.break-line {
      display: block;
    }
  }
  // Text
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    max-width: 550px;
    display: block;
  }
  // File
  &.file {
    padding-top: 5px;
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
    input[type="file"] {
      display: none;
    }
    &.file-set,
    &.is-loading {
      .file-initial {
        visibility: hidden;
        overflow: hidden;
        position: absolute;
        top: -9999px;
        left: -9999px;
        width: 0;
        height: 0;
      }
    }
    &.file-not-set:not(.is-loading) {
      .media {
        display: none;
      }
      .file-set-controls {
        display: none;
      }
    }
    .media {
      position: relative;
      margin-bottom: 10px;
      .loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-weight: 300;
        font-size: 16px;
        opacity: 0.6;
      }
      .media-preview {
        width: 100%;
        height: auto;
        z-index: 4;
        position: relative;
        &[src=""] {
          display: none;
        }
        &[src] + .loading-text {
          display: none;
        }
      }
    }
    .file-set-controls {
      display: flex;
      button {
        margin-right: 10px;
      }
    }
  }
}
