.action-prop {
  margin-bottom: 10px;
  .label {
    font-weight: 500;
    font-size: 11px;
    &.break-line {
      display: block;
    }
  }
  input[type="text"],
  textarea {
    width: 100%;
    display: block;
  }
}
