@use "../../../base/mixins";
@use "./internal-actions";

.cell.node {
  .title {
    display: none;
    padding: 3px 5px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fonts-mono);
    font-size: 11px;
  }
  .contents {
    border-radius: 5px;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    .actions {
      padding: 0;
      .action {
        list-style: none;
        margin-bottom: 10px;
        &.no-props {
          font-style: italic;
          opacity: 0.75;
        }
      }
    }
  }
  &.selected,
  &.selecting {
    .title {
      background-color: var(--accent-color);
      color: white;
    }
    .label {
      &:not(:focus:not([readonly])) {
        color: white;
        opacity: 1;
      }
    }
  }
}

#App[data-focus="false"] {
  .cell.node.selected .title,
  .cell.node.selecting .title {
    background-color: var(--node-color-blurred);
  }
}
