$arrow-color: #aaa;

#arrows {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  overflow: visible;
  marker {
    fill: $arrow-color;
  }
  path.line {
    stroke: $arrow-color;
  }
  .stem-line {
    stroke-dasharray: 4;
  }
  .highlight {
    path.line {
      stroke: #555;
      stroke-width: 1.4;
    }
    marker path {
      fill: #555;
      stroke-width: 0;
    }
  }
}
