@use "../../variables";

.label {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
  color: variables.$text-light;
  opacity: 0.7;
  outline: none;
  user-select: none;
  &[readonly] {
    cursor: default;
  }
  &:focus:not([readonly]) {
    background-color: white;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    user-select: text;
  }
}
