@use "../mixins";

#branch-editor {
  padding: 0;
  height: 100%;
  overflow: scroll;
  .stem-index {
    @include mixins.stem-index(23);
  }
  .branch-stem {
    .add-rule {
      width: 100%;
      font-size: 12px;
    }
  }
}
