@use "../mixins";

#branch-editor {
  padding: 0;
  height: 100%;
  overflow: scroll;
  .stem-index {
    @include mixins.stem-index(27);
    & {
      position: absolute;
      top: -23px;
      left: -29px;
    }
  }
  .item-toolbar {
    align-items: flex-start;
    .match-text {
      margin: 0;
      margin-top: 1px;
      max-width: 75%;
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 13px;
        padding-top: 1px;
        opacity: 0.8;
      }
      .ui-dropdown {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .blank-content {
    color: #444;
    margin: 0;
    font-style: italic;
    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .rules {
    padding: 0;
    .rule {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 5px;
      width: calc(100% - 30px);
      position: relative;
      $control-padding: 5px;
      .variables {
        width: calc(33% - #{$control-padding});
        min-width: 140px;
        margin-right: $control-padding;
      }
      .operators {
        width: calc(20% - #{$control-padding});
        min-width: 50px;
        margin-right: $control-padding;
      }
      .value {
        width: 33%;
        min-width: 100px;
      }
      .delete-rule {
        position: absolute;
        right: -30px;
      }
      &:not(:last-of-type) {
        padding-bottom: 10px;
      }
    }
  }
}
