@use "../variables";
@use "./action-pane/prop-controls";

#available-actions,
#actions-editor {
  overflow: scroll;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

#available-actions {
  height: 260px;
  background-color: white;
  overflow: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .inner {
    padding: 10px;
  }
  h4 {
    font-size: 11px;
    margin: 0;
    padding: 8px;
    opacity: 0.65;
  }
  button {
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
    &.selected {
      background-color: variables.$accent-color !important;
      color: white;
    }
  }
  li {
    &:nth-child(even) {
      button {
        background-color: #f4f4f4;
      }
    }
  }
}

#actions-editor {
  height: calc(100% - 260px);
  .inner {
    padding: 18px;
  }
}
