@use "../variables";
@use "../mixins";
@use "./action-pane/prop-controls";

#node-pane {
  background-color: rgba(228, 228, 228, 0.5);
  @media (prefers-color-scheme: dark) {
    background-color: rgba(30, 30, 30, 0.5);
  }
}

#available-actions,
#actions-editor,
#node-settings {
  overflow: scroll;
  padding: 0;
  margin: 0;
}

#available-actions {
  position: relative;
  height: 109px;
  z-index: 3;
  background-color: white;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
  @media (prefers-color-scheme: dark) {
    background-color: rgba(29, 29, 29, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  }
  .inner {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  h4 {
    font-size: 11px;
    margin: 0;
    padding: 4px 8px;
    opacity: 0.65;
    width: 100%;
    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }
  button {
    appearance: none;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 8px;
    font-size: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    &.selected {
      background-color: variables.$accent-color !important;
      .action-label {
        color: white;
      }
    }
  }
  li {
    list-style: none;
    width: 25%;
  }
}

#actions-editor {
  z-index: 2;
  height: calc(100% - 260px);
  .props {
    display: flex;
    flex-wrap: wrap;
  }
}

#node-settings {
  .inner {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .node-setting {
    width: 100%;
    flex-shrink: 0;
    list-style: none;
  }
}

.action-icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  i {
    font-size: 12px;
  }
}

$item-margin: clamp(16px, 3.5%, 28px);

.inspector-item {
  padding: 12px 12px 14px;
  background-color: white;
  color: #333333;
  margin: $item-margin;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 10px;
  list-style: none;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.8);
    background-color: #181718;
    outline: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.6) 0 2px 10px;
  }
  &.selected {
    border-color: #2f8ee5;
    outline: none;
  }
  &.disabled {
    background-color: rgba(255, 255, 255, 0.5);
    @media (prefers-color-scheme: dark) {
      background-color: rgba(24, 23, 24, 0.5);
    }
    .props {
      opacity: 0.5;
    }
    .action-icon {
      filter: saturate(0);
      opacity: 0.8;
    }
  }
  &.collapsed {
    .props {
      display: none;
    }
  }
  // Visually hide, showing only for screen readers
  .aria-only,
  .hide-label label {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
  }
  .item-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 10px;
    .item-heading {
      margin: 0;
      display: inline;
      font-size: 14px;
    }
    .disabled-text {
      font-weight: 300;
      opacity: 0.5;
    }
    .controls {
      position: absolute;
      right: 0;
    }
  }
  .field-group {
    display: flex;
    width: 100%;
    &.two-col > * {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 1;
    }
    > *:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  &:not(:last-of-type) {
    margin-bottom: $item-margin;
  }
  button.icon {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    line-height: 1;
    opacity: 0.7;
    border-radius: 5px;
    &:hover:not(:disabled) {
      background-color: rgba(50, 50, 50, 0.1);
    }
    &:active:not(:disabled) {
      opacity: 1;
      background-color: rgba(50, 50, 50, 0.15);
    }
    @media (prefers-color-scheme: dark) {
      &:hover:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:active:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }
    &:disabled {
      opacity: 0.3;
    }
    img {
      width: 18px;
      height: auto;
      user-drag: none;
      -webkit-user-drag: none;
      @media (prefers-color-scheme: dark) {
        @include mixins.invert-icon;
      }
    }
    &.heading {
      width: auto;
    }
  }
}
