/**
 * General (and very broad) pane styles
 */

.pane {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0;
  @media (prefers-color-scheme: dark) {
    border-color: rgba(255, 255, 255, 0.1);
  }
  // Increase contrast per system setting
  @media (prefers-contrast: more) {
    border-color: rgba(0, 0, 0, 0.4);
    @media (prefers-color-scheme: dark) {
      border-color: rgba(255, 255, 255, 0.4);
    }
  }
  .resizer {
    width: 7px;
    height: 100%;
    top: 0;
    left: -9999px;
    z-index: 2;
    position: absolute;
    background-color: transparent;
    &.vertical {
      width: 100%;
      height: 7px;
      top: calc(100% - 4px);
    }
  }
  .pane-contents {
    z-index: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  // Right-hand pane
  &.right {
    min-width: 300px;
    max-width: 80%;
    width: 625px;
    height: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.05) 1px 0 2px;
    border-left-width: 1px;
    .resizer {
      &.horizontal {
        left: -4px;
        cursor: col-resize;
      }
      &.vertical {
        left: 0;
        cursor: row-resize;
      }
    }
  }
  p.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
    font-weight: 300;
    letter-spacing: 0.01em;
    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
