.pane {
  position: relative;
  width: 300px;
  .resizer {
    width: 1px;
    height: 100%;
    top: 0;
    left: -9999px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.right {
    .resizer {
      left: 0;
      cursor: col-resize;
    }
  }
  p.placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
  }
}
