#project-settings {
  width: 100%;
  height: 100%;
  --settings-toolbar-height: calc(var(--toolbar-height) + 13px);
  --settings-padding: 30px;
  --settings-bg: #f6f6f6;
  --settings-bg-dark: #282828;
  .ui-toolbar {
    z-index: 2;
    height: var(--settings-toolbar-height);
    .tabs {
      padding-top: 28px;
    }
  }
  .settings-pane {
    top: var(--settings-toolbar-height);
    position: relative;
    z-index: 1;
    font-size: 13px;
    width: 100%;
    height: calc(100% - var(--settings-toolbar-height));
    overflow: scroll;
    &#pane-general {
      padding-top: 30px;
      background-color: var(--settings-bg);
      padding-left: var(--settings-padding);
      padding-right: var(--settings-padding);
      @media (prefers-color-scheme: dark) {
        background-color: var(--settings-bg-dark);
      }
    }
    &#pane-appearance {
      display: flex;
      #appearance-list {
        width: 25%;
        padding: 0;
        margin: 0;
        padding-top: 16px;
        border-right-width: 1px;
        border-right-style: solid;
        border-color: rgba(25, 25, 25, 0.14);
        background-color: rgba(226, 226, 226, 0.6);
        @media (prefers-color-scheme: dark) {
          border-color: rgba(255, 255, 255, 0.1);
          background-color: rgba(36, 36, 36, 0.6);
        }
        li {
          list-style: none;
          button {
            display: flex;
            align-items: center;
            gap: 5px;
            width: calc(100% - 20px);
            margin: 0 10px;
            text-align: left;
            background: none;
            border: none;
            border-radius: 5px;
            padding: 5px 8px;
            @media (prefers-color-scheme: dark) {
              color: rgba(255, 255, 255, 0.85);
            }
            &.selected {
              color: white;
              background-color: var(--accent-color-contrast);
              .icon {
                border-color: rgba(255, 255, 255, 0.3);
              }
            }
            .icon {
              display: block;
              text-align: center;
              border-radius: 4px;
              width: 20px;
              height: 20px;
              border-width: 1px;
              border-style: solid;
              border-color: rgba(0, 0, 0, 0.3);
              @media (prefers-color-scheme: dark) {
                border-color: rgba(255, 255, 255, 0.3);
              }
            }
          }
        }
      }
      #appearance-properties {
        width: 75%;
        background-color: var(--settings-bg);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        @media (prefers-color-scheme: dark) {
          background-color: var(--settings-bg-dark);
        }
        h2 {
          font-size: 13px;
        }
        .section {
          position: relative;
          &:not(:first-of-type) {
            margin-top: 20px;
          }
          &:nth-of-type(1) {
            z-index: 100;
          }
          &:nth-of-type(2) {
            z-index: 90;
          }
          &:nth-of-type(3) {
            z-index: 80;
          }
          &:nth-of-type(4) {
            z-index: 70;
          }
          &:nth-of-type(5) {
            z-index: 60;
          }
          &:nth-of-type(6) {
            z-index: 50;
          }
          &:nth-of-type(7) {
            z-index: 40;
          }
          &:nth-of-type(8) {
            z-index: 30;
          }
        }
        .fonts-selector {
          display: flex;
          gap: 10px;
          width: 100%;
          .ui-dropdown {
            width: 50%;
            margin-bottom: 7px;
          }
        }
        .font-size-selector {
          display: flex;
          min-height: 27px;
          align-items: center;
          gap: 5px;
          input[type="text"] {
            max-width: 40px;
            font-variant-numeric: tabular-nums;
          }
        }
        .color-picker {
          display: flex;
          align-items: center;
          input[type="text"] {
            max-width: 65px;
            font-size: 11px;
            font-family: ui-monospace;
          }
        }
        .text-secondary-props {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

.setting {
  &.boolean {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    input[type="checkbox"] {
      display: block;
      margin-top: 4px;
    }
    label {
      color: rgba(0, 0, 0, 0.85);
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.85);
      }
    }
    .description {
      margin-top: 4px;
      display: block;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.6);
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

#App[data-focus="false"] {
  #project-settings {
    #appearance-list {
      li button.selected {
        background-color: rgba(0, 0, 0, 0.5);
        i {
          color: rgba(0, 0, 0, 0.5);
        }
        @media (prefers-color-scheme: dark) {
          background-color: rgba(255, 255, 255, 0.2);
          i {
            color: white;
          }
        }
      }
    }
  }
}
