#project-settings {
  width: 100%;
  height: 100%;
  --settings-toolbar-height: calc(var(--toolbar-height) + 13px);
  --settings-padding: 30px;
  --settings-bg: #f6f6f6;
  --settings-bg-dark: #282828;
  .ui-toolbar {
    z-index: 2;
    height: var(--settings-toolbar-height);
    .tabs {
      padding-top: 28px;
    }
  }
  .settings-pane {
    padding-top: 30px;
    top: var(--settings-toolbar-height);
    position: relative;
    z-index: 1;
    font-size: 13px;
    width: 100%;
    height: calc(100% - var(--settings-toolbar-height));
    overflow: scroll;
    &#pane-general {
      background-color: var(--settings-bg);
      padding-left: var(--settings-padding);
      padding-right: var(--settings-padding);
      @media (prefers-color-scheme: dark) {
        background-color: var(--settings-bg-dark);
      }
    }
  }
}

.setting {
  &.boolean {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    input[type="checkbox"] {
      display: block;
      margin-top: 4px;
    }
    label {
      color: rgba(0, 0, 0, 0.85);
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.85);
      }
    }
    .description {
      margin-top: 4px;
      display: block;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.6);
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
