@use "../base/mixins";

$update-button-height: 22px;

#toolbar {
  align-items: flex-end;
  justify-content: space-between;
  z-index: 3;
  .title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-right: 18px;
    color: var(--heading-text-light);
    @media (prefers-color-scheme: dark) {
      color: var(--heading-text-dark);
    }
  }
  #update {
    position: absolute;
    right: 0;
    top: 0;
    button {
      display: flex;
      font-size: 12px;
      background-color: hsl(141, 69%, 40%);
      color: white;
      font-weight: 500;
      width: 125px;
      height: 0;
      animation: wipe 0.5s ease forwards;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 0 0 0 5px;
      text-shadow: rgba(0, 0, 0, 0.3) 0 -0.5px 1px;
      &:active {
        background-color: hsl(141, 74%, 34%);
      }
      &[disabled] {
        opacity: 1;
        background-color: hsl(195, 100%, 34%);
      }
      img {
        display: inline-block;
        margin-right: 7px;
        width: 17px;
        height: auto;
        mix-blend-mode: screen;
      }
    }
  }
}
@keyframes wipe {
  from {
    height: 0;
  }
  to {
    height: $update-button-height;
  }
}
