@use "../variables";
@use "../mixins";

#toolbar {
  background-color: rgba(255, 255, 255, 1);
  -webkit-app-region: drag;
  position: fixed;
  display: flex;
  align-items: center;
  border-style: solid;
  border-top-color: rgba(25, 25, 25, 0.14);
  border-bottom-color: rgba(25, 25, 25, 0.14);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  padding-left: 7px;
  height: variables.$toolbar-height;
  z-index: 3;
  @media (prefers-color-scheme: dark) {
    border-color: rgba(0, 0, 0, 0.5);
  }
  button {
    -webkit-app-region: no-drag;
    border: none;
    background-color: transparent;
    display: flex;
    width: 52px;
    padding: 5px 0 4px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: auto;
    &:disabled {
      opacity: 0.3;
    }
    &:hover:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.08);
    }
    &:active:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.12);
      .icon {
        opacity: 0.85;
      }
    }
    @media (prefers-color-scheme: dark) {
      &:hover:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.08);
      }
      &:active:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.65;
      img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -2px;
      }
      @media (prefers-color-scheme: dark) {
        @include mixins.invert-icon;
      }
    }
    span {
      display: none;
    }
  }
  .title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-right: 18px;
    color: variables.$heading-text-light;
    @media (prefers-color-scheme: dark) {
      color: variables.$heading-text-dark;
    }
  }
}
