@use "../base/mixins";

$update-button-height: 22px;

#toolbar {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-app-region: drag;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-style: solid;
  border-color: rgba(25, 25, 25, 0.14);
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
  height: var(--toolbar-height);
  z-index: 3;
  @media (prefers-color-scheme: dark) {
    background-color: #353535;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .toolbar-region {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 9px;
    padding-right: 9px;
    &.spacer {
      flex-basis: 100%;
      flex-shrink: 2;
    }
    &.button-group {
      &:hover {
        button {
          background-color: rgba(0, 0, 0, 0.08);
          &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
          }
          &:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          &:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          &.selected {
            background-color: rgba(0, 0, 0, 0.15);
          }
          &:active:not(:disabled):not(.selected) {
            background-color: rgba(0, 0, 0, 0.15);
          }
          &.selected:active {
            background-color: rgba(0, 0, 0, 0.2);
          }
          @media (prefers-color-scheme: dark) {
            background-color: rgba(255, 255, 255, 0.08);
            &.selected {
              background-color: rgba(255, 255, 255, 0.2);
            }
            &:active:not(:disabled):not(.selected) {
              background-color: rgba(255, 255, 255, 0.3);
            }
            &.selected:active {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }
      }
    }
  }
  button {
    -webkit-app-region: no-drag;
    border: none;
    background-color: transparent;
    display: flex;
    width: 52px;
    padding: 5px 0 4px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: auto;
    &:disabled {
      opacity: 0.3;
    }
    &:hover:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.08);
    }
    &:active:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.12);
      .icon {
        opacity: 0.85;
      }
    }
    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
      .icon {
        opacity: 1;
      }
      i {
        color: #2f8ee5;
      }
    }
    @media (prefers-color-scheme: dark) {
      &:hover:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.08);
      }
      &:active:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.12);
      }
      &.selected {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.65;
      &.preview {
        i {
          font-size: 22px;
          top: -2px;
        }
      }
      i {
        position: relative;
        font-size: 18px;
        line-height: 1;
      }
      img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: -2px;
      }
      @media (prefers-color-scheme: dark) {
        @include mixins.invert-icon;
      }
    }
    span {
      display: none;
    }
  }
  .title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-right: 18px;
    color: var(--heading-text-light);
    @media (prefers-color-scheme: dark) {
      color: var(--heading-text-dark);
    }
  }
  #update {
    position: absolute;
    right: 0;
    top: 0;
    button {
      display: flex;
      font-size: 12px;
      background-color: hsl(141, 69%, 40%);
      color: white;
      font-weight: 500;
      width: 125px;
      height: 0;
      animation: wipe 0.5s ease forwards;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 0 0 0 5px;
      text-shadow: rgba(0, 0, 0, 0.3) 0 -0.5px 1px;
      &:active {
        background-color: hsl(141, 74%, 34%);
      }
      &[disabled] {
        opacity: 1;
        background-color: hsl(195, 100%, 34%);
      }
      img {
        display: inline-block;
        margin-right: 7px;
        width: 17px;
        height: auto;
        mix-blend-mode: screen;
      }
    }
  }
}

@keyframes wipe {
  from {
    height: 0;
  }
  to {
    height: $update-button-height;
  }
}
