@use "./mixins";

/*
 * Shared styles
 */
button {
  cursor: default !important;
}

// Set consistent font sizes, colors, line heights
.ui-button,
.ui-text-field,
.ui-text-area,
.ui-number-field input,
.ui-dropdown select {
  font-size: 13px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.85);
  @mixin dark-reset {
    color: rgba(255, 255, 255, 0.85);
  }
  &.dark-mode {
    @include dark-reset;
  }
  @media (prefers-color-scheme: dark) {
    @include dark-reset;
  }
}

// Make buttons and dropdowns look similar
.ui-button,
.ui-dropdown {
  appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: white;
  vertical-align: middle;
  box-shadow: rgb(0, 0, 0, 0.07) 0 1px 2px;
  &.small {
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
    height: 18px;
    padding-left: 8px;
    padding-right: 8px;
  }
  &.large {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
    height: 28px;
  }
  @mixin dark-buttonlike {
    background-color: #5f5f5f;
    color: rgba(255, 255, 255, 0.9) !important;
    border-color: transparent;
    border-top-color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(0, 0, 0, 0.35) 0 2px 2px;
  }
  @media (prefers-color-scheme: dark) {
    @include dark-buttonlike;
  }
  &.dark-mode {
    @include dark-buttonlike;
  }
}

$field-padding: 4px 6px;

// Make text fields and text areas look similar
.ui-text-field,
.ui-text-area,
.ui-number-field input,
.ui-color-picker {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: $field-padding;
  border-radius: 0.4em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.17);
  @mixin dark-field-reset {
    border-color: rgba(255, 255, 255, 0.16);
    border-top-color: rgba(255, 255, 255, 0.26);
  }
  &.dark-mode {
    @include dark-field-reset;
  }
  @media (prefers-color-scheme: dark) {
    @include dark-field-reset;
  }
}

/*
 * Standard buttons
 */
.ui-button {
  padding: 0px 10px 1px;
  height: 22px;
  &:active {
    background-color: #eee;
  }
  @mixin dark-button {
    color: rgba(255, 255, 255, 0.9) !important;
    &:active {
      background-color: #777677;
    }
  }
  @media (prefers-color-scheme: dark) {
    @include dark-button;
  }
  &.dark-mode {
    @include dark-button;
  }
}

/*
 * Text area 
*/
.ui-text-area {
  padding: 0.6em;
}

/*
 * Dropdown
 */
.ui-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    right: 0.35em;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0nMS4wJyBlbmNvZGluZz0nVVRGLTgnPz48IS0tIEdlbmVyYXRlZCBieSBQaXhlbG1hdG9yIFBybyAzLjUuMyAtLT48c3ZnIHdpZHRoPSc3NCcgaGVpZ2h0PSc3NCcgdmlld0JveD0nMCAwIDc0IDc0JyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxnIGlkPSdHcm91cCc+PHBhdGggaWQ9J1BhdGgtY29weScgZmlsbD0nbm9uZScgc3Ryb2tlPScjMDAwMDAwJyBzdHJva2Utd2lkdGg9JzEwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00gNTcgMjUgTCAzNyA1Jy8+PHBhdGggaWQ9J1NoYXBlLWNvcHktNCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjMDAwMDAwJyBzdHJva2Utd2lkdGg9JzEwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00gMTcgMjUgTCAzNyA1Jy8+PHBhdGggaWQ9J1NoYXBlLWNvcHktMycgZmlsbD0nbm9uZScgc3Ryb2tlPScjMDAwMDAwJyBzdHJva2Utd2lkdGg9JzEwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGQ9J00gNTcgNDkgTCAzNyA2OScvPjxwYXRoIGlkPSdTaGFwZS1jb3B5LTInIGZpbGw9J25vbmUnIHN0cm9rZT0nIzAwMDAwMCcgc3Ryb2tlLXdpZHRoPScxMCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNIDE3IDQ5IEwgMzcgNjknLz48L2c+PC9zdmc+Cg==");
    background-size: contain;
    background-repeat: no-repeat;
  }
  select {
    appearance: none;
    border: none;
    width: 100%;
    display: block;
    padding-top: 5px;
    padding: $field-padding;
    padding-bottom: 5px;
    padding-right: 1.5em;
    background-color: transparent;
  }
  &.fonts {
    font-size: 18px;
    line-height: 23px;
    border-radius: 6px;
    z-index: 1;
    height: 32px;
    ul,
    li,
    span {
      user-select: none;
      -webkit-user-select: none;
    }
    .selected-label {
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: left;
      appearance: none;
      border: none;
      background: none;
      min-height: 100%;
      padding: 0;
      @media (prefers-color-scheme: dark) {
        color: #dddddd;
      }
    }
    .menu {
      li {
        button {
          .item-name {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
  .menu {
    position: absolute;
    top: -8px;
    z-index: 2;
    left: 0;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ededed;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.22) 0 5px 20px;
    @media (prefers-color-scheme: dark) {
      background-color: rgba(27, 27, 27, 0.95);
      backdrop-filter: blur(10px);
      outline: 1px solid rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    li {
      list-style: none;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        margin-bottom: 10px;
      }
      button {
        appearance: none;
        border: none;
        text-align: left;
        background: none;
        display: block;
        width: 100%;
        padding: 0 6px;
        .item-name {
          display: block;
          padding: 5px 10px 5px 25px;
          position: relative;
          @media (prefers-color-scheme: dark) {
            color: #dddddd;
          }
          .check {
            font-family: system-ui;
            position: absolute;
            left: 3px;
          }
        }
        &:hover {
          .item-name {
            color: white;
            background-color: var(--accent-color-contrast);
            border-radius: 8px;
          }
        }
      }
    }
  }
}

@mixin dark-dropdown {
  &:after {
    @include mixins.invert-icon;
  }
}

.ui-dropdown.dark-mode {
  @include dark-dropdown;
}

@media (prefers-color-scheme: dark) {
  .ui-dropdown {
    @include dark-dropdown;
  }
}

/*
 * Toggle button
 */
$toggle-width: 40px;
$toggle-height: 20px;
.ui-toggle-button {
  display: inline-block;
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  transition: background-color 0.3s ease;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  &[disabled] {
    opacity: 0.5;
  }
  &:after {
    content: "";
    position: absolute;
    height: #{$toggle-height - 4px};
    width: #{$toggle-height - 4px};
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    left: 1px;
    top: 1px;
    transition: left 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  }
  &:not(.active):not([disabled]) {
    &:active {
      transition: none;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &.active {
    background-color: var(--accent-color) !important;
    &:after {
      left: 20px;
    }
    &:active:not([disabled]) {
      filter: brightness(1.15);
    }
  }
  @mixin dark-toggle-button {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }
  @media (prefers-color-scheme: dark) {
    @include dark-toggle-button;
  }
  &.dark-mode {
    @include dark-toggle-button;
  }
}

/*
 * Number field
 */
.ui-number-field {
  position: relative;
  input {
    width: 100%;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  &:not(.no-spinner) {
    input {
      padding-right: 20px;
    }
  }
  .controls {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    button {
      margin: 0 auto;
      appearance: none;
      width: auto;
      height: 50%;
      border: none;
      padding: 0 8.5px;
      background-color: transparent;
      text-align: center;
      font-weight: 500;
      display: flex;
      &:first-of-type {
        padding-bottom: 1px;
        align-items: flex-end;
      }
      &:last-of-type {
        padding-top: 1px;
        align-items: flex-start;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.1);
      }
      svg {
        max-width: 100%;
        height: auto;
        path {
          stroke: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

@mixin dark-number-field {
  .controls {
    button {
      &:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
      svg {
        path {
          stroke: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

.ui-number-field.dark-mode {
  @include dark-number-field;
}

@media (prefers-color-scheme: dark) {
  .ui-number-field {
    @include dark-number-field;
  }
}

.ui-color-picker {
  display: flex;
  align-items: center;
  padding: 0;
  height: 25px;
  width: 95px;
  overflow: hidden;
  input[type="color"] {
    border-radius: 2px;
    background-color: transparent;
    border: none;
    height: 23px;
    width: 23px;
  }
  .ui-text-field {
    background-color: transparent;
    border: none;
    font-family: ui-monospace;
    font-size: 11px;
    height: 100%;
    width: calc(100% - 17px);
  }
}

.ui-toolbar {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-app-region: drag;
  position: fixed;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: rgba(25, 25, 25, 0.14);
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 7px;
  height: var(--toolbar-height);
  @media (prefers-color-scheme: dark) {
    background-color: #353535;
    border-color: rgba(255, 255, 255, 0.1);
  }
  @media (prefers-contrast: more) {
    border-color: rgba(25, 25, 25, 0.4);
  }
  /* Base toolbar button styling */
  button {
    -webkit-app-region: no-drag;
    border: none;
    display: flex;
    flex-wrap: wrap;
    appearance: none;
    background: none;
    background: transparent;
    height: 100%;
    padding: 6px 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    cursor: auto;
    text-align: center;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 1;
    &:disabled {
      opacity: 0.3;
    }
    &:hover:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.06);
    }
    &:active:not(:disabled) {
      background-color: rgba(0, 0, 0, 0.1);
    }
    @media (prefers-color-scheme: dark) {
      &:hover:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.06);
      }
      &:active:not(:disabled) {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    @media (prefers-contrast: more) {
      border: 1px solid rgba(0, 0, 0, 0.8);
      @media (prefers-color-scheme: dark) {
        border: 1px solid rgba(255, 255, 255, 0.8);
      }
    }
    svg {
      flex-grow: 0;
      flex-shrink: 0;
    }
    svg path {
      opacity: 0.8;
    }
    span {
      width: 100%;
      opacity: 0.7;
    }
    svg,
    img {
      display: block;
      width: auto;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
      &:not(.color-icon) {
        path {
          fill: rgba(0, 0, 0, 0.7);
        }
      }
    }
    @media (prefers-color-scheme: dark) {
      color: white;
      svg:not(.color-icon) path,
      img {
        fill: white;
      }
    }
  }
  &.labels-visible {
    button {
      width: 82px;
      height: 54px;
    }
  }
  /* Tab-specific styling */
  [role="tablist"] {
    display: flex;
    justify-content: center;
    gap: 1px;
    button {
      &[aria-selected="true"] {
        color: var(--accent-color-800);
        background-color: rgba(0, 0, 0, 0.06);
        svg path,
        span {
          opacity: 1;
        }
        svg:not(.color-icon) path,
        img {
          fill: var(--accent-color-800);
        }
      }
      @media (prefers-color-scheme: dark) {
        &[aria-selected="true"] {
          background-color: rgba(255, 255, 255, 0.06);
        }
      }
    }
  }
  .toolbar-region {
    display: flex;
    height: calc(100% - 31px);
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 9px;
    padding-right: 9px;
    gap: 1px;
    &.spacer {
      flex-basis: 100%;
      flex-shrink: 2;
    }
  }
}

[data-platform="windows"] {
  .ui-toolbar {
    background-color: rgba(255, 255, 255, 1);
  }
}

#App[data-focus="false"] {
  .ui-toolbar {
    background-color: #f0f0f0;
    @media (prefers-color-scheme: dark) {
      background-color: #3d3d3d;
    }
    button {
      opacity: 0.8;
      filter: saturate(0);
    }
    [role="tablist"] {
      svg:not(.color-icon) path,
      img {
        fill: rgba(0, 0, 0, 0.3) !important;
        @media (prefers-color-scheme: dark) {
          fill: rgba(255, 255, 255, 0.5) !important;
        }
      }
      button {
        color: rgba(0, 0, 0, 0.4) !important;
        @media (prefers-color-scheme: dark) {
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  border-radius: 99px;
  background-color: #e9e9e9;
  @media (prefers-color-scheme: dark) {
    background-color: #292929;
    border: 1px solid #1b1b1b;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: rgba(86, 86, 86, 0.8);
  border: 2px solid #e9e9e9;
  @media (prefers-color-scheme: dark) {
    background-color: #7c7c7c;
    border: 2px solid #292929;
  }
}
