:root {
  /* Spacing and layout */
  --toolbar-height: 68px;
  --preview-height: 0px;
  /* Typography */
  --fonts-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* Colors */
  --text-light: #1d1d1d;
  --text-dark: #e9e9ea;
  --node-color-blurred: #bebebe;
  --pink-vibrant: rgb(238, 66, 141);
  --pink-faded-light: rgb(255, 141, 191);
  --node-bg-dark: #262627;
}
